<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Autofac.Mvc5" version="3.3.3" targetFramework="net45" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net45" />
  <package id="Glass.Mapper" version="3.0.13.25" targetFramework="net45" />
  <package id="Glass.Mapper.Sc" version="3.2.2.45" targetFramework="net45" />
  <package id="Glass.Mapper.Sc.CastleWindsor" version="3.2.1.23" targetFramework="net45" />
  <package id="Glass.Mapper.Sc.Mvc-5" version="3.2.1.42" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Sitecore" version="7.2.140526" targetFramework="net45" />
  <package id="Sitecore.Mvc" version="7.2.140526" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net45" />
</packages>